<div class="container">
  <div class="row">
    <div class="col-md-3">
      <select [(ngModel)]="usuarioSeleccionado" (change)="cambiarUsuarioSeleccionado()">
        <option value="">Selecciona un usuario</option>
        <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.id + "-" + usuario.nombre + "-" +
          usuario.correo }}</option>
      </select>
      <div class="col-md-9">
        <!-- Panel lateral izquierdo -->
        <div class="panel panel-default" *ngIf="usuarioSeleccionado">
          <div class="panel-heading">Detalles del Evento</div>
          <div class="panel-body">
            <!-- Campo de título -->
            <div class="form-group">
              <label for="titulo">Título:</label>
              <input type="text" class="form-control" id="titulo" [(ngModel)]="evento.titulo">
            </div>
            <!-- Campo de descripción -->
            <div class="form-group">
              <label for="descripcion">Descripción:</label>
              <textarea class="form-control" id="descripcion" [(ngModel)]="evento.descripcion"></textarea>
            </div>
            <!-- Campo de fecha -->
            <div class="form-group">
              <label for="fecha">Fecha:</label>
              <input type="date" class="form-control" id="fecha" [(ngModel)]="evento.fecha">
            </div>
            <!-- Campo de lugar -->
            <div class="form-group">
              <label for="lugar">Lugar:</label>
              <input type="text" class="form-control" id="lugar" [(ngModel)]="evento.lugar">
            </div>
            <button class="btn btn-primary" (click)="agregarEvento()">Agregar Evento</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-md-offset-3">
      <!-- Panel a la derecha con lista de eventos -->
      <div class="panel panel-default" *ngIf="usuarioSeleccionado">
        <div class="panel-heading">Lista de Eventos</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let evento of eventos">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>Titulo</td>
                    <td>{{ evento.titulo }}</td>
                  </tr>
                  <tr>
                    <td>Descripción</td>
                    <td>{{ evento.descripcion }}</td>
                  </tr>
                  <tr>
                    <td>Fecha</td>
                    <td>{{ evento.fecha }}</td>
                  </tr>
                  <tr>
                    <td>Lugar</td>
                    <td>{{ evento.lugar }}</td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-danger" (click)="eliminarEvento(evento)">Eliminar</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
