<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <hr>
          <h4>Alumnos:</h4>
          <p>Mateo Grajales Jaramillo</p>
          <p>Carolina Florez</p>
          <hr>
      </div>

      <div class="col-md-4">
        <hr>
        <h4>Materia:</h4>
        <p>Arquitectura de Software 28082023_C1_202334</p>
        <hr>
      </div>
      <div class="col-md-4">
        <hr>
        <h4>Profesor:</h4>
        <p>Campo Eli Castillo</p>
        <hr>
      </div>
    </div>
  </div>
</footer>
